@import url('~@fontsource/inter/variable.css');

@import url('./normalize.css');

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: InterVariable, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-variation-settings: 'wght' 400;
}

@media (min-width: 28rem) {
  body {
    font-size: 1.4rem;
  }
}

@media (min-width: 34rem) {
  body {
    font-size: 1.6rem;
  }
}

a {
  color: inherit;

  text-decoration: none;
}
